{% extends 'base.html.twig' %}

{% block title %}Auction{% endblock %}

{% block body %}
    <style>
        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }

        a.menu {
            margin: 10px;
            padding: 10px;
        }
    </style>

    <div><a href="{{ url('user_auctions') }}" class="menu">Auctions</a><a class="menu" href="{{ url('home') }}">Home</a><a class="menu" href="{{ url('club_index') }}">Clubs</a><a class="menu" href="{{ url('exit') }}">Exit</a></div>

    {% block content %}

    {% endblock %}
{% endblock %}
