{% extends 'base.html.twig' %}

{% block title %}Auction{% endblock %}

{% block body %}
<div>
    <a href="{{ url('auth') }}">SIGN IN</a> <a href="{{ url('registration') }}">SIGN UP</a>
</div>
{% endblock %}
